*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
form{
    
    background-color: aqua;
    display:block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}